.ListItem-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 5px 0;
}

.listitem-btn {
    border: 1px solid red;
    border-radius: 5px;
    padding: 3px 4px 1px 4px;
    margin-left: 50px;
    color: red;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.listitem-btn:hover {
    background-color: red;
    color: white
}